// import Bootstrap overrides form custom.scss
@import "custom";

// design aide
/** {
    border: 1px solid red;
}
*/

/**
* General
*/

// add margin to prevent content
// from going under top navigation
.mt-72 {
    margin-top: 72px;
}

// add margin to prevent page content
// from going under top navigation
.mt-100 {
    margin-top: 100px;
}

// transparent-background
/*
.bg-scrim {
    background-color: rgba(0,0,0,0.3);
}
*/

.btn {
    border-radius: 0;
}

// container for hidden content
// to be shown on hover

div.show-on-hover-content > div.bg-scrim {
    margin: 0 0 87px;
}

.show-on-hover-container > div.show-on-hover-content {
    display: none;
}

.show-on-hover-container:hover > div.show-on-hover-content {
	display: block;
}

/**
* Home Page
*/

.bg-mission {
    height: 375px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      no-repeat center/cover url("./media/banner.jpg");
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .bg-mission {
        height: 440px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 758px) { 
    .bg-mission {
        background: no-repeat right/contain url("./media/banner.jpg");
    }

    .bg-mission-overlay {
        background: #fff;
        transform: skew(20deg);
    }
    
    .bg-mission-overlay-content {
        transform: skew(-20deg);
    }
 }

// Large devices (desktops, 992px and up)
/*@media (min-width: 932px) {
    .bg-mission-overlay {
        transform: skew(0deg);
    }
    
    .bg-mission-overlay-content {
        transform: skew(0deg);
    }  
}*/

/**
* Page Template
*/

.bg-header-overlay {
    background: rgba(0, 0, 0, 0.65);
}

// Medium devices (tablets, 768px and up)
@media (min-width: 758px) {
    .bg-header-overlay {
        transform: skew(20deg);
    }
    
    .bg-header-overlay-content {
        transform: skew(-20deg);
    }
}

/**
* Subpage Template
*/

.subpage-header {
    padding-top: 140px;
}

.subpage-header-content {
    margin-bottom: -50px;
    padding: 75px 50px 50px;
}

/**
* Productions Page
*/

// remove padding form clickable card
.card.btn {
    padding: 0;
    text-align: left;
}

.modal-full-screen {
    min-width: 100%;
    margin: 0;
}

a.carousel-control-prev,
a.carousel-control-next {
    width: 8%;
}

/**
* Admin Dashboard
*/

.admin-menu-container {
    z-index: 900;
}

ul.admin-menu > li > a {
    color: inherit;
}

/*
.admin-select {
    position: fixed;
    top: 72;
    z-index: 100;
}

.admin-sidebar,
.admin-content {
    position: relative;
    top: 0;
    height: calc(100vh - 72px);
}

.admin-content {
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
/*}

.admin-sidebar a.nav-link {
    color: inherit;
}

.admin-sidebar a.nav-link:hover,
.admin-sidebar a.nav-link.active {
    color: green;
}
*/