// import Bootstrap overrides form custom.scss
@import "custom";

// design aide
/** {
    border: 1px solid red;
}
*/

/**
* General
*/

// add margin to prevent content
// from going under top navigation
.mt-72 {
    margin-top: 72px;
}

// add margin to prevent page content
// from going under top navigation
.mt-100 {
    margin-top: 100px;
}

// transparent-background
.bg-scrim {
    background-color: rgba(0,0,0,0.3);
}

// container for hidden content
// to be shown on hover

div.show-on-hover-content > div.bg-scrim {
    margin: 0 0 87px;
}

.show-on-hover-container > div.show-on-hover-content {
    display: none;
}

.show-on-hover-container:hover > div.show-on-hover-content {
	display: block;
}

/**
* Home Page
*/

.bg-mission {
    //background-image: src("./media/Field.jpg");
    background: #000;
}

.bg-mission-overlay {
    background: #fff;
    transform: skew(20deg);
    padding-top: 130px;
    padding-bottom: 130px;
}

.bg-mission-overlay-content {
    transform: skew(-20deg);
}
/**
* Productions Page
*/

// remove padding form clickable card
.card.btn {
    padding: 0;
    text-align: left;
}

.modal-full-screen {
    min-width: 100%;
    margin: 0;
}

a.carousel-control-prev,
a.carousel-control-next {
    width: 8%;
}

/**
* Admin Dashboard
*/

.admin-select {
    position: fixed;
    top: 72;
    z-index: 100;
}

.admin-sidebar,
.admin-content {
    position: relative;
    top: 0;
    height: calc(100vh - 72px);
}

.admin-content {
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.admin-sidebar a.nav-link {
    color: inherit;
}

.admin-sidebar a.nav-link:hover,
.admin-sidebar a.nav-link.active {
    color: green;
}